:root{
    /* Aquí va les variables */
}

* {
    /* Aquí hi va el reset */

        margin: 0;
        padding: 0;
        border: 0;
}

@font-face {
    /* Aquí hi van les fonts personalitzats */
} 
    /* Aquí hi van les propietats generals */

body{
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 34%, rgba(11, 0, 166, 1) 100%);
}

h1{
    width: auto;
    height: 300px;
    text-align: center;
    margin-top: -50px;
    background:white;
    color:rgba(11, 0, 166, 1);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-shadow:5px 5px 5px black;
} 
h2{
    width:auto;
    color: black;
    text-align: center;
    margin-top: -100px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited{
    color: yellow;

}
.horari{
    background-image: url(../img/horario.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;


}
.feedly{
    background-image: url(../img/feedly.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;

}
.Watchmen{
    background-image: url(../img/watchmen.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;

}
.dames{
    background-image: url(../img/dames.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;

}
.Ifpgram{
    background-image: url(../img/ifpgram.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
}
.Photoshop{
    background-image: url(../img/photoshop.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;
}
.Floreta{
    background-image: url(../img/floreta.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
}
.Floats{
    background-image: url(../img/floats.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;
}
.Llibre{
    background-image: url(../img/llibre.png);
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
    background-size: cover;
    background-position: center;
}
.JS01{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS02{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS03{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS04{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS05{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS06{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS07{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS08{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.JS09{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}

.contenedor {
  display: flex;
  flex-direction: column;
}
.cuadro1 {
  width: 300px;
  height: 150px;
  background-color: lightblue;
}


ul{
    overflow: hidden;
    margin:auto;
    text-align: center;
    transition: 0.1s;
}

li{
    
    height:25rem;
    background: blue;
    border-radius: 3%;
    margin: 2rem;
    list-style-type: none;
    float: left;
    color: white;
    margin-top:200px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 42rem;
} 

li:hover{
    opacity: 60%;
}                                                
.pastilla{
    width:100%; 
    height:200px;
    text-align:center;
    background:white;
    margin-top:150px;
}

.peu{
    width:100%;
    margin-top:150px;
    text-align:center;
}


.footer-info{
    margin-top:-150px;
    display:flex;
    justify-content:space-around;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-info h3{
    font-size:22px;
    margin-bottom:10px;
}

.footer-info p{
    font-size:16px;
}



/* Aquí hi van propietats responsives */

@media (max-width:544px)

/* Aquí hi va la versió mòbils */

{
    li{
        width: 85%;
    }
    ul{
        width: 100% ;
    }
}

@media (min-width:544px) and (max-width:1088px)
{
    ul{
        max-width: 34rem ;
    }
    li{
        width: 30rem;
    }
}


@media (min-width:1088px) and (max-width:1632px)
{
    ul{
        max-width: 68rem ;
    }
    li{
        width: 30rem;
    }
}


@media (min-width:1632px)
{
    ul{
        max-width: 102rem ;
    }
    li{
        width: 30rem;
    }
}
