:root{
    /* Aquí va les variables */
}

* {
    /* Aquí hi va el reset */

        margin: 0;
        padding: 0;
        border: 0;
}

@font-face {
    /* Aquí hi van les fonts personalitzats */
} 
    /* Aquí hi van les propietats generals */

body{
    background: black;
}

h1{
    width: auto;
    height: 300px;
    text-align: center;
    margin-top: -50px;
    background: white;
    color: white;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    box-shadow: inset 0 70px 70px black;
    text-shadow:5px 5px 5px black;
    background:radial-gradient(circle,rgba(2, 0, 36, 1) 14%, rgba(1, 70, 164, 1) 49%, rgba(0, 43, 102, 1) 100%, rgba(0, 119, 255, 1) 100%);
} 
h2{
    width:auto;
    color: white;
    text-align: center;
    margin-top: -100px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited{
    color: white;
}
a:link{
    color:white;
    text-decoration: none;
}
.horari{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.feedly{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Watchmen{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.dames{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Ifpgram{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Photoshop{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Floreta{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Floats{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
.Llibre{
    background-image: url();
    opacity: 100%;
    box-shadow: inset 0 0 40px white;
}
ul{
    overflow: hidden;
    margin:auto;
    text-align: center;
    transition: 0.1s;
}
li{
    
    height:25rem;
    border-radius: 15%; 
    background: blue;
    margin: 2rem;
    list-style-type: none;
    float: left;
    color: white;
    margin-top:140px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 56rem;
} 
li:hover{
    opacity: 50%;
}                                                
.pastilla{
    width:100%; 
    height:200px;
    text-align:center;
    background:white;
    margin-top:150px;
}
.icono{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-top:-150px;
}
.icono2{
    width: 50px;
    height: 50px;
    background-color: pink;
    margin-top:-100px;
}
.icono3{
    width: 50px;
    height: 50px;
    background-color: purple;
    margin-top:50px;
}
.icono4{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin-top:0;
}




/* Aquí hi van propietats responsives */

@media (max-width:544px)

/* Aquí hi va la versió mòbils */

{
    li{
        width: 85%;
    }
    ul{
        width: 100% ;
    }
}

@media (min-width:544px) and (max-width:1088px)
{
    ul{
        max-width: 34rem ;
    }
    li{
        width: 30rem;
    }
}


@media (min-width:1088px) and (max-width:1632px)
{
    ul{
        max-width: 68rem ;
    }
    li{
        width: 30rem;
    }
}


@media (min-width:1632px)
{
    ul{
        max-width: 102rem ;
    }
    li{
        width: 30rem;
    }
}
