body{
    background:white;
}
.fulla{
    width: 100px;
    height: 100px;
    background: pink;
    border-radius: 100% 0 100% 0%;
    position: absolute;
    top:50px;
    left: 150px;
    transform-origin: 0px 100px;
    background-image: linear-gradient(0deg, cyan, blue);
}
.flor{
    width: 300px;
    height: 300px;
    position: relative;
    nimation: 0.8s rotacio linear infinite;
    z-index: 6;

}
.f1{
    transform: rotate(0deg);
}
.f2{
    transform: rotate(60deg);
}
.f3{
    transform: rotate(120deg);
}
.f4{
    transform: rotate(180deg);
}
.f5{
    transform: rotate(240deg);
}
.f6{
    transform: rotate(300deg);
}
.cor{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: purple;
    position: absolute;
    top: 125px;
    left: 125px;
    background-image: radial-gradient(cyan, blue);
}
@keyframes rotacio{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.palo{
    width: 15px;
    height: 400px;
    background: green;
    top: 150px;
    left: 150px;
    position: absolute;
    z-index: 5;

}
.hoja {

    width: 100px;
    height: 100px;
    background: green;
    border-radius: 100% 0 100% 0%;
    position: absolute;
    top:320px;
    left: 150px;
}
.conjunt:hover .flor {
    animation: 0.9s rotacio linear infinite;
}
.conjunt{
    width: 300px;
    height: 600px;
}